*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/percentage.sh
/app/percentage.bat
/app/author_lines_percentage.sh
/app/line_percent.py
/app/lines_percent.bat

